* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainTitle{
  color: black;
  font-size: 25px;
  font-family: 'Roboto';
  text-align: center;
  margin: 20px 0 ; 
}

.tasksApp{  
  padding-top: 20px;
  font-family: 'Roboto';
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mainTasksList{
  width: 600px;
  min-height: 500px;
  background-color: rgba(255, 235, 205, 0.555);
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 25px;
}