button{
    width: 250px;
    height: 80px;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover{
    background-color: #00471b;
  }
  
  .clickButton{
    background-color: blueviolet;
  }
  
  .restartButton{
    background-color: rgb(224, 143, 76);
  }